

.inbox-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .mail-list {
    list-style: none;
    padding: 0;
  }
  
  .mail-list li {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    align-items: center;
  }
  
  .mail-list li:hover {
    background-color: #f9f9f9;
  }
  
  .To {
    flex: 1;
    font-weight: bold;
  }
  
  .subject {
    flex: 2;
    margin-left: 20px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .modal-content {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; 
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #999;
  }
  
  